# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
# dist
# dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.claude/*
claude.md
backup/*
飞书官方项目示例/*


.gemini/*
.agent/*
飞书官方资料/*
FEISHU_DASHBOARD_TIPS.md
PROJECT_LOG.md
